/* .boxes{
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: red;
    float: left;
}

.miniEvent{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: blue;
    float: left
}

.miniComment{
    width: 100x;
    height: 100px;
    border-style: solid;
    border-color: green;
} */

input {
    color: black
}