.video-container {
  text-align: center;
  height: 25%;
  position: relative;
}

.v-header {
  width: 100vw;
  max-height: 25vw;
  min-height: 300px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.50;
  z-index: 0;
  /* text-align: center; */
  display: flex;
  align-items: center;
}

.video-text {
  z-index: 5;
  position: absolute;
  top: 35%;
  left: 43%;
  color: #fff;
}
