/* Video Hero */
.video-container {
  text-align: center;
  height: 25%;
  position: relative;
}

.v-header {
  max-height: 25vw;
  min-height: 300px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.50;
  z-index: 0;
  display: flex;
  align-items: center;
}

.video-text {
  z-index: 5;
  position: absolute;
  top: 35%;
  left: 40%;
  color: #fff;
}

/* Cause Buttons */
.cause-buttons {
  margin: 10px 0px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.cause-buttons:focus, .cause-buttons:focus:hover, .cause-buttons:active {
  outline: none;
  font-weight: 300;
  color: #00b9b4;
}

.glyphicon-chevron-right {
  font-size: 15px;
  font-weight: 100;
  color: #00b9b4;
  opacity: .4;
  padding-left: 5px;
}

/* Sort Buttons */
.sort-btn {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #00b9b4;
  border-radius: 0px;
  font-size: 18px;
  margin: 0 10px 30px 10px;
  text-transform: uppercase;
  padding: 10px 20px 0 20px;
}

.sort-controls{
  text-align: center;
  margin-bottom: 30px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* Event Cards */
.eventCard{
  border-radius: 0px;
  border: none;
  margin-bottom: 40px;
  padding: 10px 30px 10px 40px;
  background-color: white;
}

.event-details {
  font-size: 18px;
}

/* Badges */
#organizer-attendee {
  padding: '5px';
  color: 'white';
  opacity: '.5';
  border-radius: '2px'
}


/* MicroInteractions */
.sort-btn:active, .sort-btn:hover, .sort-btn:focus{
  font-weight: 400;

}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  color: #00b9b4;
  background-color: transparent;
  border-color: #8c8c8c;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline-offset: 0px;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  background-image: none;

}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  color: #00b9b4;
  background-color: transparent;
  border-color: none;
  letter-spacing: 1px
}
.btn-default:hover {
  color: #00b9b4;
  background-color: transparent;
  border-color: none;
}
.btn-default.focus, .btn-default:focus {
  color: #00b9b4;
  background-color: transparent;
  border-color: none;
  letter-spacing: 1px
}
.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  letter-spacing: 1px
}
.btn.focus, .btn:focus, .btn:hover {
  color: #00b9b4;
  text-decoration: none;
}

/* Cause Dropdown Initial Display None */
.cause-dropdown{
  display: none;
  width: 80vw; 
  margin-bottom: 10px;
}

.btn-group>.btn:first-child {
  margin-left: 6%;
}

.dropdown-menu {
  left: 15px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px
}

/* Media Queries */
@media only screen and (max-width: 950px) {
  .video-text {
    left: 35%
  }
}

@media only screen and (max-width: 850px) {
  .video-text {
    left: 30%
  }
}

@media only screen and (max-width: 700px) {
  .video-text {
    left: 25%
  }
}

@media only screen and (max-width: 550px) {
  .video-text {
    left: 20%
  }
    /* Hides Buttons For Mobile */
    .cause-buttons {
      display: none;
  }

  /* Displays Dropdown */
  .cause-dropdown{
      display: block;
  }
}

@media only screen and (max-width: 450px) {
  .video-text {
    left: 15%
  }
}

@media only screen and (max-width: 400px) {
  .video-text {
    left: 10%
  }
}

@media only screen and (max-width: 350px) {
  .video-text {
    left: 1%
  }
}
