.navbar-header {
  height: 75px
}

.navbar {
  border-radius: 0;
  margin-bottom: 0 !important;
}

.navbar-nav>li>a {
  padding-top: 28px;
  padding-right:20px;
  margin-left: 15px;
}

.logo {
  margin-top: -11px;
  margin-left:30px
}

.container {
  width: 100vw;
}

.navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #00b9b4;
  background-color: transparent;
}

.navbar-toggle {
  margin-top: 20px;
  margin-right: 30px
}

.navbar-inverse .navbar-toggle {
  border: 0px;
}
